<div class="col-sm-6 col-sm-offset-3">
	<h1>Hi {{currentUser.username}}!</h1>
	<h3>All register users:</h3>
	<p><a class="btn btn-info" [routerLink]="['/register']">Add new user</a></p>
	<ul>
		<li *ngFor="let user of users">
			<p>
				{{user.username}} ({{user.firstName || user.username}} {{user.lastName}}) 
				<a class="btn btn-warning" [routerLink]="['/edit/'+user.id]">Edit</a>
				<a class="btn btn-danger" (click)="delete(user.id)" *ngIf="user.username !=currentUser.username">Delete</a>
			</p>
		</li>
	</ul>
	<p><a class="btn btn-info" [routerLink]="['/login']">Logout</a></p>
</div>