<div class="col-sm-offset-3 col-sm-6">
	<h2>Login</h2>
	<div class="container-fluid">
		<div class="row">
		<form action="" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate> 
			<div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
				<div class="well">
					<div class="form-group">
						<input type="text" class="form-control" name="username" [(ngModel)]="model.username"  required>
						<div *ngIf="f.submitted && !username.valid">Username is required</div>
					</div>
					
					<div class="form-group">
						<input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required>
						<div *ngIf="f.submitted && !password.valid">password is required</div>
					</div>
					<button class="btn btn-primary">submit</button>
					<a [routerLink]="['/register']">Register</a>
				</div>
			</div>
		</form>	
</div>
</div>